h2 {
  width: 100%;
  text-align: center;
  margin: 8% auto 0;
  font-size: 40px;
  color: #272727;
}

form > div {
  width: 100%;
  margin: 2% auto 0;
  display: flex;
  justify-content: center;
}

form > div > div {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  margin: auto 10px;
}

input {
  width: 356px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #aaaaaa;
}

textarea {
  width: 356px;
  height: 150px;
  background: #e5e5e5;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #aaaaaa;
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background: #4690ff;
  border-radius: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 3%;
}

a {
  text-decoration: none;
  color: #fff;
}
